* {
    margin: 0;
    font-family: Arial;
    border: border-box ;
}
body{
    background-color: #c3cdcf;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
justify-content: space-evenly;
}
.logo{
 height: 55px;
 width: 120px;
 margin-top: 4px;
}
.border{
  border: 2px solid transparent;
}
.border:hover{
  border: 2px solid white;
}
p{
  color: white;
}
.loc{
  color: #cccccc;
  font-size: 0.85rem;
}
.address{
  display: flex;
}
.add{
  font-size: 1rem;
}
.nav-search{
display: flex;
}
.nav-search:hover{
  border: 3px solid orange;
  border-radius: 4px;

}
.search-icon button{
  background-color: #febd68;
  height: 42px;
  width: 45px;
    border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
button{
  border: 0px;
}
.nav-input{
width:660px;
height: 36.9px;
}
.search{
  height: 42px;
  width: 50px;
  background-color: #f3f3f3;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.account{
  display: flex;
}
#selec{
color: gray;
background-color: #0f1111 ;
border: none;
}
#Cart{
  font-size: 1.5rem;
  margin-top: 5px;
}
.cart{
  display: flex;
}
.nav_cart{
  margin-top: 15px;
  font-size: 1rem;
}
.ret{
  font-size: 0.85rem;
}
.ord{
  font-size: 1rem;
}
.msg1{
  text-decoration: none;
  color: white;
font-size: 0.85rem;
font-weight: 700;
}
.msg1:hover{
  border: 2px solid white;
}
#panl {
  color: white;
}
.panel{
  height: 40px;
  background-color: #222f3d;
justify-content:center;
  display: flex;
  align-items: center;
}
.menu{
  display: flex;
  margin-right: 30px;
}
#menu1{
  color: white;
}
.hero{
  background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img25/Media/PC_Hero_3000x1200_Asin-toys-2x._CB547414496_.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heromessage{
    background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 25px;
}
.msg{
  color: black;
  font-size: 0.85rem;
}
a{
color: #007185;
margin-right: 60px;
text-decoration: none;

}
.content{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #c3cdcf;
}
.box{
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 10px;
}
.boximg{
  height: 300px;
  background-size: contain;
}
.boxcont{
  margin-left: 1rem;
  margin-right: 1rem;
}

.content2{
  height: 250px;
  width: 100%;
  background-color: white;
  margin-top: 30px;
}
.herophoto{
  height: 200px;
  margin-top: 25px;

}
.photo{
  margin-top: 20px;
  margin-left: 40px;
}
.see{
  font-size: 1rem;
}
.weblast{
  margin-top: 50px;
  height: 40px;
  background-color: #30455c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weblast2{
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul{
  margin-top: 25px;
}
ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.weblast3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* MENU SHOW */
.show-panel {
    display: flex !important;
}

/* DARK MODE */
.dark-mode {
    background-color: #0f1111 !important;
    color: white !important;
}

.dark-mode p,
.dark-mode h2,
.dark-mode h3 {
    color: white !important;
}

.dark-mode a {
    color: #ffd479 !important;
}

.dark-mode .navbar {
    background-color: #1b1f1f !important;
}

.dark-mode .panel {
    background-color: #2b343d !important;
}

.dark-mode .content .box {
    background-color: #1f1f1f !important;
}

.dark-mode .content2 {
    background-color: #1f1f1f !important;
}
